section{
  width:100%;
}

/***************TOP NAVBAR ********************/

#form_style  {
  margin: 15 auto 0 auto;
  text-align: center;
}
.navbar-right li:last-child{
  margin-top: 9px;
  font-size:20px;
} 
#bs-example-navbar-collapse-1, .navbar-header{
  margin-bottom:5px;
} 
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0px;
}

.navbar-toggle{
  margin-top:12px;
}
#nav_links{
  
}

/********************** GREEN NAVBAR *******************/

#nav_links{
  background-color: #4ccfc1;
}
#bs-example-navbar-collapse-2 ul {
  margin-top:15px;
}

@media (min-width: 768px){ 
  #bs-example-navbar-collapse-2 ul li {
    border-right: 2px solid white;
  }
  #bs-example-navbar-collapse-2 ul li:last-child { 
  border-right: none; 
  }
}

#bs-example-navbar-collapse-2 li>a{
  color: white;
  font-weight:  bold; 
  position: relative;
  display: inline;
  padding: 10px 15px; 
  font-size: 15px;  
}

/**************TOP SLIDER****************/
#wraper{
  padding:25px;
  background-color:#38c1b1;
}
@media (max-width: 768px){ 
  .carousel-inner{
    
    text-align:center;
  }
   ol{
    margin-bottom: 20px;
  }
  .item button{
    margin-top: 15px;
  }
}